
.btn {
    color: #000;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    padding: 12px 14px;
    align-items: center;
    background-color: transparent;
    border: 3px solid #DAF5FE;
    border-radius: 40px;
}